<article>
  <img class="listing-photo" [src]="housingLocation?.photo"
       alt="Exterior photo of {{housingLocation?.name}}"/>
  <section class="listing-description">
    <h2 class="listing-heading">{{housingLocation?.name}}</h2>
    <p class="listing-location">{{housingLocation?.city}}, {{housingLocation?.state}}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this housing location</h2>
    <ul>
      <li>Units available: {{housingLocation?.availableUnits}}</li>
      <li>Does this location have wifi: {{housingLocation?.wifi}}</li>
      <li>Does this location have laundry: {{housingLocation?.laundry}}</li>
      <li>Sastisfaction: {{evaluation}}
        <span *ngIf="evaluationUp()"><img  ngSrc="assets/up.svg" height="16" width="16" alt="up"/></span>
        <span *ngIf="evaluationDown()"><img  ngSrc="assets/down.svg" height="16" width="16" alt="down"/></span>
        <span *ngIf="evaluationEqual()"><img  ngSrc="assets/-.svg" height="16" width="16" alt="-"/></span>
        <input type="number" [(ngModel)]="send" [min]="0" [max]="5">
        <button (click)="submitEvaluation()">Send</button>
      </li>
    </ul>
  </section>
  <section class="listing-features">
    <h2 class="section-heading"><a [routerLink]="['/details', housingLocation?.id,'map']">Map</a></h2>


  </section>
  <section class="listing-apply">
    <h2 class="section-heading">Apply now to live here</h2>
    <form [formGroup]="applyForm" (submit)="submitApplication()">
      <label for="first-name">First Name</label>
      <input id="first-name" type="text" formControlName="firstName"  >

      <label for="last-name">Last Name</label>
      <input id="last-name" type="text" formControlName="lastName" >

      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" >
      <button type="submit" class="primary" [disabled]="!applyForm.valid">Apply now</button>
    </form>
  </section>
</article>
